# (!) Fill in the required variables or just leave filled ones and rename the file to `.env`

# Project
DEBUG=True
SECRET_KEY=django-insecure-wi^vmp)@bbna=8+6fp!sf3b%ldaa-&y24%l0n2(n&cq99%n=
ALLOWED_HOSTS=*
