# (!) Fill in the required variables or just leave filled ones and rename the file to `.env`

# Project
DEBUG=True
SECRET_KEY=django-insecure-wi^vmp)@bbna=8+6fp!sf3b%ldaa-&y24%l0n2(n&cq99%n=
ALLOWED_HOSTS=*
DOMAIN_NAME=http://127.0.0.1:8000

# Stripe
STRIPE_PUBLIC_KEY=pk_test_51NsMZ4DUiKPkW2SIbs2R7dp3vFUdL7jzu6lQfzi6oaT7B9VxCssnLj2Be8n9K3Shyb27kUL2KeRZhRkAsOk0xKfx00JtiwV0Pl
STRIPE_SECRET_KEY=sk_test_51NsMZ4DUiKPkW2SIbaDGZG2LwGtged3N3yuhYfJqshsh1yPRF7PFYxWE4HZs896LBubeK903sWXLsNJvl2snePIG00ghmt3Qw4
