{% extends 'base.html' %}

{% block title %}
	Items list
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Items list</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
          <tr>
            <td>
              <a href="{% url 'items:item-detail' item.id %}">{{ item.name }}</a>
            </td>
            <td>{{ item.description }}</td>
            <td>{{ item.price }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
